/database.java
/database.sqlite
/TCGTournamentSoftware/
/Backend/src/main/resources/Data/Trailside Challenge_25-11-016498 FINAL.tdf
/Backend/src/main/resources/Data/Trailside Cup_26-01-002815-r5middle FINAL.tdf
/.junie/
